.body-main {
    background-color: #F8F8F8;
}

.container-main {
    width: 90%;
    margin: 0 auto;
}

.container-main .cards {
    /* width : 304px;
    height: 416px; */
    float: left;
    width: 22.7%;
    min-height: 300px;
    /* margin: 0px 32px 32px 0px; */
    margin-right: 2.222%;
    margin-bottom: 2.222%;
    background-color: red;
}

.inside-cards{
    margin: 5.263%;
    /* min-height: auto; */
    border: 1px solid white;
}

.parent-span {
    float: left;
}

.span-new {
    display: inline-block;
    background-color: #3370FF;
    color: #FFFFFF;
    /* width: 13.157%;  */
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 2px 8px 0px 8px;
    font-size: 10px;
}

.span-sale {
    display: block;
    background-color: #33465D;
    color: #FFFFFF;
    /* width: 13.157%; */
    border-radius: 3px;
    padding: 2px 8px 0px 7px;
    font-size: 10px;
}

.span-heart {
    float: right;
    color: white;
}

.image-thumbnail {
    width: 100%;
    height: auto;
}

.product-info {
    margin: 5.263%;
    position: relative;
    bottom: 0;
}

.product-name-1 {
    color: #2D323D;
    text-align: left;
    font-size: 16px;
    margin: 30px 0px 0px 0px;
    word-wrap: break-word;
    border: 1px solid white;
}

.product-name-2 {
    color: #2D323D;
    text-align: left;
    font-size: 16px;
    margin: 0px;
    word-wrap: break-word;
    border: 1px solid white;
}

.product-review {

}

.rating {

}

.no-of-ratings {
    text-align: left;
    color: #999999;
    font-size: 16px;
}

.product-price {
    border: 1px solid white;
}

.product-price-bold {
    color: #33465D;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
}

.product-price-striked {
    color: #999999;
    font-size: 16px;
    text-align: left;
    border: 1px solid white;
}

.product-discount {
    color: #33465D;
    font-size: 16px;
    text-align: left;
    border: 1px solid white;
}